<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/img/logo.ico" class="img-circle api_logo" alt="Nikey"><a class="navbar-brand" href="/">Nikey</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li data-p="Home"><a href="/">#springMessage('home')</a></li>
                <li data-p="api"><a href="/api">#springMessage('api')</a></li>
                #if($isSignedIn)
                    <li data-p="room"><a href="/room/$uid">#springMessage('my.room')</a></li>
                    <li data-p="signout"><a href="/signout">#springMessage('signout')</a></li>
                #elseif(!$isSignedIn)
                    <li data-p="signin"><a href="/signin">#springMessage('signin')</a></li>
                    <li data-p="signup"><a href="/signup">#springMessage('signup')</a></li>
                #end

            </ul>
        </div>
    </div>
</nav>
