.home_logo {
    float: left;
    font-size: 18px;
    line-height: 20px;
    width: 35px;
    height: 35px;
    margin-top: 7px;
}

.api_logo {
    float: left;
    font-size: 18px;
    line-height: 20px;
    width: 35px;
    height: 35px;
    margin-top: 7px;
    margin-left: 15px;
}

.blog_logo {
    float: left;
    font-size: 18px;
    line-height: 20px;
    width: 30px;
    height: 30px;
    margin-top: 6px;
}

.navbar-inverse{
    background-color:#428bca;
}